.search-results ul.series_poc {
    padding-left: 0px;
    margin-right: -12px;
}

.series_poc-item {
    display: inline-block;
    width: 172px;
    margin: auto;
    min-height: 375px;
}

.series_poc-item h2 {
    font-family: FaktPro-Normal, sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0px;
    color: #000000;
    padding-top: 7px;
}

.series_poc-item .field-name-ting-author {
    color: #000000;
    font-family: FaktPro-SemiBold, sans-serif;
}

.series_poc {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* .series_poc::after {
    content: "";
    flex: auto;
  } */

.series_poc-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: linear-gradient(rgba(255, 138, 0, .2), #fff);
    padding-top: 20px;
    padding-bottom: 20px;
}

.series_poc-link {
    display: inline-block;
    width: 194px;
    margin: auto;
}

.series_poc-link a {
    font-size: 18px;
    color: #006a97;
    text-transform: capitalize;
}

.series_poc-links h2 {
    display: block;
}

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/

/* 
    Created on : 11-05-2019, 15:13:10
    Author     : DQ26525
*/

.series_poc-page .series_poc-item, .series_poc .series_poc-item {
    display: inline-block;
    width: 194px;
    margin: auto;
    min-height: 375px;
}

.series_poc .series_poc-item .view-mode-teaser .inner {
    background-image: url(./images/defbookcover.jpg);
}

.series_poc-item h2 {
    font-family: FaktPro-Light, sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0px;
    color: #000000;
    padding-top: 7px;
}

.series_poc-item .field-name-ting-author {
    color: #000000;
    font-family: FaktPro-SemiBold, sans-serif;
    font-size: 14px;
}

.series_poc {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-left: 0px;
}

.series_poc-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: linear-gradient(rgba(255, 138, 0, .2), #fff);
    padding-top: 20px;
    padding-bottom: 20px;
}

.series_poc-link {
    display: inline-block;
    width: 194px;
    margin: auto;
}

.series_poc-link a {
    font-size: 18px;
    color: #006a97;
    text-transform: capitalize;
}

.series_poc-breadcrumb {
    margin-bottom: 20px;
}



.series_poc-links h2 {
    display: block;
}

.series_poc-page .secondary-content {
    width: 18.6726%;
    float: left;
    display: block;
    margin-right: 2.4911%;
}

.series_poc-page .series_poc-main {
    width: 78.8363%;
    float: right;
}

.series_poc-page ul {
    padding-left: 0px;
}

.node-type-inspiration-carousel .content-wrapper .pane-content .default-panel-layout .left-and-main-content .layout-wrapper .secondary-content {
    width: 21.6726%;
}

.node-type-inspiration-carousel .content-wrapper .pane-content .default-panel-layout .left-and-main-content .layout-wrapper .primary-content {
    width: 75.8363%;
}

/* Menu */

.series_poc-menu ul.menu li.expanded ul.menu {
    margin-top: 20px;
    padding-left: 20px;
}

.series_poc-menu ul.menu li {
    margin-bottom: 20px;
}

.series_poc-menu .sub-menu-title {
    padding-bottom: 25px;
    font-size: 32px;
}

.series_poc-menu ul.menu li.collapsed::after {
    content: "\e903";
    font-family: icomoon;
    font-size: 14px;
    left: 0;
    display: block;
    top: -4px;
    float: left;
    margin-right: 12px;
}

.series_poc-menu ul.menu li a.active {
    position: relative;
    padding-left: 20px;
    border-bottom: 4px solid #B28282;
    padding-bottom: 5px;
}

/* Smart carousel pages */

.node-type-inspiration-carousel h2.pane-title {
    border-bottom: 1px solid rgba(38, 38, 38, .2);
}

.node-type-inspiration-carousel .pane-ting-smart-carousel-content h2.pane-title {
    border-bottom: none;
    font-size: 28px;
    line-height: 28px;
}

.pane-ting-smart-carousel-objects {
    margin-top: 17px;
}

.pane-ting-smart-carousel-content {
    padding-left: 10px;
}

.node-type-inspiration-carousel .pane-carousel .ding-carousel .slick-slider .slick-track .slick-slide {
    width: 194px;
    margin-right: 20px;
}

.node-type-inspiration-carousel .ding-carousel-item .field-name-ting-author {
    font-size: 14px;
}

.node-type-inspiration-carousel .field-name-ting-title h2 {
    border-bottom: 1px solid rgba(38, 38, 38, .2);
}

.node-type-inspiration-carousel .pane-carousel .ding-carousel .slick-slider {
    min-height: 380px;
}

/* Mobile categories */

.series_poc-mobile-categories {
    display: none;
}

@media only screen and (max-width: 768px) {
    .series_poc-mobile-categories {
        display: block;
        margin-top: 0px;
    }
    .pane-content .series_poc-page .secondary-content {
        display: none;
    }
    .node-type-inspiration-carousel .content-wrapper .pane-content .default-panel-layout .left-and-main-content .layout-wrapper .secondary-content {
        display: none;
    }
    .pane-content .series_poc-page .series_poc-main {
        width: 100%;
        float: none;
        margin-top: -20px;
    }
    .series_poc-mobile-categories .more-link a {
        float: none;
        margin-bottom: 15px;
        display: block;
        width: 100%;
    }
    .series_poc-mobile-categories .more-link a::after {
        display: block;
        content: "\e901";
        color: #ffffff;
    }
    .pane-content .series_poc-main .pane-title {
        margin-top: 40px;
        font-size: 40px;
        color: #006a97;
    }
    .node-type-inspiration-carousel .primary-content {
        margin-top: -20px;
    }
    .node-type-inspiration-carousel .pane-node-content h2.pane-title {
        margin-top: 40px;
        font-size: 40px;
    }
    .node-type-inspiration-carousel .content-wrapper .pane-content .default-panel-layout .left-and-main-content .layout-wrapper .primary-content {
        width: 100%;
    }
}

/* Prev and next buttons */

.series_poc-pager .more-link a::after {
    color: #ffffff;
}

.series_poc-objects-previous {
    float: left;
    margin-right: 30px;
}

.series_poc-pager .series_poc-objects-previous a {
    padding-left: 80px;
    padding-right: 15px;
}

.series_poc-pager .more-link {
    clear: none;
}

.series_poc-pager .series_poc-objects-previous a::after {
    display: none;
}

.series_poc-pager .series_poc-objects-previous a::before {
    content: "\e902";
    font-family: icomoon;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    font-size: 54px;
    display: block;
    position: absolute;
    top: 17px;
    left: 10px;
}

@media only screen and (max-width: 768px) {
    .series_poc-pager .more-link a {
        width: 130px;
        margin-right: 20px;
    }
    .series_poc-pager .more-link a::after {
        display: block;
    }
    .series_poc-pager .series_poc-objects-previous a::after {
        display: none;
    }
    .series_poc-pager .series_poc-objects-previous a {
        padding-left: 60px;
    }
    .series_poc-pager .series_poc-objects-previous a::before {
        left: 0px;
    }
    .series_poc-pager .more-link a::after {
        left: 70px;
    }
}

/* Mobile */

@media only screen and (max-width: 768px) {
    .series_poc-page .series_poc-item {
        width: 154px;
        min-height: 300px;
    }
    .series_poc .series_poc-item {
        width: 154px;
        min-height: 300px;
    }
    .node-type-inspiration-carousel .pane-carousel .ding-carousel .slick-slider .slick-track .slick-slide {
        width: 154px;
    }
    .pane-ting-smart-carousel-content {
        margin-bottom: 20px;
    }
    .series_poc-breadcrumb {
        border-bottom: 1px solid rgba(38, 38, 38, .2);
    }
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 5px 7px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    color: #777;
    border-radius: 10px;
    margin-left: 10px;
}

.series_poc-item .ting-object.view-mode-teaser>.inner .ting-cover {
    overflow: inherit;
}

.series_poc-item .ting-object.view-mode-teaser>.inner {
    padding-top: 143%;
}

.series_poc-search-controls {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 5px;
    min-height: 75px;
}

.series_poc-filter-links {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 28%;
    padding-top: 36px;
}

.series_poc-filter-links .badge {
    margin-left: 0px;
    padding-left: 5px;
}

.series_poc-filter-select {
    border-bottom: 4px solid #B28282;
}

.series_poc-object-breadcrumb\>\<a.href\= {
    margin-bottom: 2px;
}

.series_poc-button {
    display: flex;
    justify-content: space-between;
    background-color: #f3f3f3;
    height: 44px;
    border-radius: 10px;
    font-size: 18px;
    padding: 15px 25px 14px 25px;
    margin-right: 20px;
    align-items: center;
}

.series_poc-search-buttons {
    width: 48%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 10px;
}

.series_poc-button img {
    display: inline;
    height: 30px;
    margin-left: 20px;
}

/*Series */

.ting-series-item {
    display: flex;
    margin-bottom: 15px;
    background-color: #e5e5e5;
    padding: 15px;
}

.ting-series-object-cover {
    width: 20%;
    margin-right: 20px;
}

.ting-series-object-content {
    width: 77%;
    display: flex;
    flex-direction: column;
}

.ting-series-read-first {
	margin-top: auto;
    font-family: FaktPro-SemiBold;
    align-self: flex-end;
}

.ting-series-series-read-at-will {
	font-family: FaktPro-SemiBold;
	margin-top: auto;
	align-self: flex-end;
}

.ting-series-object-title h2 {
    color: #005f8c;
    margin-bottom: 0px;
    ;
}

.ting-series-object-number h2 {
    font-size: 20px;
}

.ting-series-object-number {
    display: flex;
	justify-content: space-between;
}

.ting-series-object-creator {
    color: #005f8c;
    margin-bottom: 20px;
}

.ting-series-all-item {
    display: flex;
    margin-bottom: 15px;
    background-color: #e5e5e5;
    padding: 15px;
}

.ting-series-all-object-cover {
    width: 30%;
    margin-right: 0px;
    min-height: 190px;
}

.ting-series-all-object-cover .ting-cover img {
    height: 174px;
    width: 125px;
}

.ting-series-all-object-content {
    width: 68%;
    display: flex;
    flex-direction: column;
}

.ting-series-series-alt-title {
	margin-top: 20px;
}

.ting-series-all-cover-1 {
    position: absolute;
    z-index: 3;
    left: 255px;
    margin-top: 10px;
}

.ting-series-all-cover-2 {
    position: absolute;
    z-index: 2;
    left: 305px;
    margin-top: 5px;
}

.ting-series-all-cover-3 {
    position: absolute;
    z-index: 1;
    left: 355px;
    margin-top: 0px;
}

.ting-series-all-object-cover .ting-cover {
    background-image: url(./images/defbookcover.jpg);
    width: 125px;
    height: 174px;
}

li.series-menu-item {
    list-style: none;
    margin-bottom: 7px;
}

.ting-series-menu li a.active {
    color: #005f8c;
    font-size: 16px;
}

.series-menu-sub-level {
    margin-left: 30px;
    margin-bottom: 0px;
    margin-top: 7px;
}

.series-menu-sub-level-2 .series-menu-item-active {
	border-bottom: 4px solid #005f8c;
}

ul.series-menu-sub-level > li.series-menu-item-active > a{
	border-bottom: 4px solid #005f8c;
}

.series-menu-item-active .series-menu-sub-level-2 {
	margin-top: 7px;
}

.series-menu-sub-level-2 {
	margin-left: 15px;
    margin-bottom: 0px;
}


.series-menu-item::before {
    content: "\e903";
    font-family: icomoon;
    font-size: 12px;
    left: 0;
    display: block;
    top: -4px;
    float: left;
    margin-right: 3px;
    color: #005f8c;
    position: relative;
    margin-top: 2px;
}


.series-menu-sub-level-active li a {
    border-bottom: 4px solid #005f8c;
}

.series-menu-item-selected a {
    border-bottom: 4px solid #005f8c;
}

.series_poc-breadcrumb-icon::after {
    content: "\e903";
    font-family: icomoon;
    font-size: 8px;
    padding-right: 10px;
    padding-left: 10px;
    top: 4px;
    position: relative;
    top: -2px;
    color:#005f8c;
}

.ting-series-main-content {
	display: flex;
	margin-bottom: 20px;
	border-bottom: 2px solid #005f8c;
	padding-bottom: 20px;
}

.ting-series-series-universe {
	margin-top: 20px;
}

.ting-series-all-object-title {
	display: flex;
	justify-content: space-between;
    margin-bottom: 20px;
}

.ting-series-all-object-type {
	background-color: #005f8c;
	color: #fff;
	height: 40px;
	width: 120px;
	padding-top: 12px;
	display: flex;
    justify-content: center;
}

.ting-universe-item {
    display: flex;
    margin-bottom: 15px;
    background-color: #e5e5e5;
    padding: 15px;
}

.ting-universe-object-cover {
    width: 20%;
    margin-right: 20px;
}

.ting-universe-object-content {
    width: 60%;
}

.ting-universe-object-title h2 {
    color: #005f8c;
    margin-bottom: 0px;
    ;
}

.ting-universe-object-number h2 {
    font-size: 20px;
}

.ting-universe-object-creator {
    color: #005f8c;
    margin-bottom: 20px;
}

.ting-universe-all-item {
    display: flex;
    margin-bottom: 15px;
    background-color: #e5e5e5;
    padding: 15px;
}

.ting-universe-all-object-cover {
    width: 35%;
    margin-right: 0px;
    min-height: 190px;
}

.ting-universe-all-object-cover .ting-cover img {
    height: 174px;
    width: 125px;
}

.ting-universe-all-object-content {
    width: 64%;
}

.ting-universe-all-cover-1 {
    position: absolute;
    z-index: 3;
    left: 255px;
    margin-top: 15px;
}

.ting-universe-all-cover-2 {
    position: absolute;
    z-index: 2;
    left: 305px;
    margin-top: 10px;
}

.ting-universe-all-cover-3 {
    position: absolute;
    z-index: 1;
    left: 355px;
    margin-top: 5px;
}

.ting-universe-all-cover-4 {
    position: absolute;
    z-index: 0;
    left: 405px;
    margin-top: 0px;
}

.ting-universe-all-object-cover .ting-cover {
    background-image: url(./images/defbookcover.jpg);
    width: 125px;
    height: 174px;
}

.ting-universe-all-object-title {
	display: flex;
	justify-content: space-between;
    margin-bottom: 20px;
}

.ting-universe-all-object-type {
	background-color: #005f8c;
	color: #fff;
	height: 40px;
	width: 120px;
	padding-top: 12px;
	padding-left: 30px;
}


.ting-series-all-object-cover-universe .ting-series-all-cover-1 {
    position: absolute;
    z-index: 3;
    left: 255px;
    margin-top: 15px;
}

.ting-series-all-object-cover-universe .ting-series-all-cover-2 {
    position: absolute;
    z-index: 2;
    left: 295px;
    margin-top: 10px;
}

.ting-series-all-object-cover-universe .ting-series-all-cover-3 {
    position: absolute;
    z-index: 1;
    left: 335px;
    margin-top: 5px;
}

.ting-series-all-object-cover-universe .ting-series-all-cover-4 {
    position: absolute;
    z-index: 0;
    left: 375px;
    margin-top: 0px;
}

.ting-series-all-object-cover-universe {
	width: 33%;
	margin-right: 0px;
	min-height: 190px;
}

.ting-series-all-object-cover-universe .ting-cover {
    background-image: url(./images/defbookcover.jpg);
    width: 125px;
    height: 174px;
}

.series_poc-select {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.series_poc-select a {
    margin-left: 25px;
}

.series_poc-select-item-selected {
	border-bottom: 4px solid #f66d70;
}

.ting-series-all-object-universe {
	margin-top: 20px;
}

.series-menu-sub-level .series-menu-item::before {
    display: none;
}

.ting-series-object {
	display: flex;
}

.ting-series-object-items {
	display: flex;
	justify-content: space-between;
	list-style: none;
    width: 65%;
    gap: 20px;
    padding-left: 0px;
}
.ting-series-object .ting-series-object-content {
    width: 35%;
    margin-left: 30px;
    height: 327px;
}

.ting-series-object .ting-series-object-cover {
    width: 100%;
}

.ting-series-object-items  .ting-series-object-title h2 {
    font-size: 16px;
}

.ting-series-on-object-title {
	display: flex;
	justify-content: space-between;
}

.ting-series-on-object-title h2 {
    font-size: 36px;
}

.ting-series-object-item {
	width: 225px;
}

.ting-series-object-item img{
	width: 100%;
}

.ting-series-object-type {
	background-color: #005f8c;
	color: #fff;
	height: 40px;
	width: 120px;
	padding-top: 12px;
	display: flex;
	justify-content: center;
	margin-top: -20px;
}

.ting-series-object-universe {
	margin-top: 30px;
}

.ting-series-object-action {
	background-color: #005f8c;	
	border-radius: 5px;
	display: block;
	font-size: 1em;
    width: 80%;
    align-self: flex-end;
    margin-top: auto;
    display: flex; 
    height: 60px;
}

.ting-series-object-action a {
    color: #fff;
    margin: auto;
}

.ding-carousel-item .ting-series-object-cover {
    width: 100%;

}

.ding-carousel-item  .ting-series-object-title h2 {
    font-size: 16px;
}

.pane-series .carousel-tabs .carousel-list-tabs .carousel-item a {
    font-size: 36px;
}

.pane-series .ding-carousel .slick-slider .slick-track .slick-slide {
    width: 200px;
}

/* .ting-series-object-cover.ting-series-object-current {
	outline: 5px solid #005f8c;
	margin-top: 5px;
	margin-left: 5px;
} */